* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "DMSans";
  src: url(./fonts/DMSans-regular.ttf);
}
.wrapper {
  width: 1440px;
  height: 3872px;
  font-family: "DMSans";
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  width: 1440px;
  height: 90px;
}
.header-logo {
  width: 93px;
  height: 47px;
  margin-right: 80px;
}
.header-menu {
  display: flex;
  gap: 32px;
  font-weight: 500;
  margin-right: 235px;
  font-size: 22px;
  line-height: 29px;
}
.header-phone {
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  margin-right: 55px;
}
.header-vector {
  display: flex;
  gap: 20px;
}

.ractangle {
  width: 1280px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  background: url(img/wheels.png) no-repeat 550px 95px, url(../img/shadow.png) no-repeat 650px 450px;
  background-color: #F5F5F5;
}
.ractangle-content {
  padding-top: 141px;
  padding-left: 62px;
  position: absolute;
  z-index: 1;
}
.ractangle-content-title {
  font-weight: 700;
  font-size: 41px;
  line-height: 53px;
  width: 627px;
  margin-bottom: 10px;
}
.ractangle-content-subtitle {
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
  margin-bottom: 30px;
}
.ractangle-input {
  width: 514px;
  height: 62px;
  border: 2px solid rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  font-size: 18px;
  line-height: 23px;
  padding-left: 17px;
  padding-right: 80px;
  position: absolute;
}
.ractangle-btn {
  width: 75px;
  height: 61px;
  background: rgba(66, 0, 255, 0.8);
  border-radius: 8px;
  border-color: rgba(66, 0, 255, 0.8);
  font-size: 20px;
  z-index: 1;
  position: relative;
  margin-left: 438px;
}
.ractangle-shadow {
  width: 1281px;
  height: 102px;
}
.ractangle-shadow-img {
  width: 583px;
  height: 105px;
  padding-left: 630px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.cards {
  width: 100%;
  height: 260px;
  display: flex;
  justify-content: center;
  padding-top: 40px;
  margin-bottom: 80px;
}
.cards-flex {
  display: flex;
  gap: 40px;
}
.cards-img {
  width: 142px;
  height: 140px;
  float: left;
  background: #F9F9F9;
  margin-right: 15px;
}
.cards-box {
  width: 400px;
  height: 140px;
  background: #FFFFFF;
  border: 1.5px solid #F2F2F2;
  border-radius: 5px;
}
.cards-box-content {
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  margin-top: 36px;
  margin-bottom: 10px;
  font-family: "DM Sans";
}
.cards-box-content-title {
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.6);
  margin-right: 33px;
  font-family: "DM Sans";
  font-weight: 500;
}

.catalog-product-title {
  font-weight: 500;
  font-size: 22px;
  line-height: 20px;
  display: flex;
  align-items: center;
}

.catalog-navigation-background-one, .catalog-navigation-background-black, .catalog-navigation-background-end, .catalog-navigation-background {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.catalog {
  width: 1274px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}
.catalog-menu {
  width: 380px;
  background: #F7F7F7;
  border-radius: 5px;
  padding: 10px 11px;
}
.catalog-choise-menu {
  width: 358px;
  height: 76px;
  display: flex;
  padding-top: 10px;
  padding-left: 11px;
  border-radius: 5px;
}
.catalog-choise-menu-cursor {
  position: relative;
}
.catalog-choise-menu::after {
  content: ">";
  font-size: 22px;
  width: 10px;
  height: 16px;
  position: absolute;
  right: 30px;
  padding-top: 21px;
}
.catalog-choise-menu:hover {
  background-color: #4200FF;
  color: white;
}
.catalog-choise-menu a:hover {
  background-color: #4200FF;
  color: white;
}
.catalog-choise-menu-products {
  display: flex;
}
.catalog-product {
  width: 36px;
  height: 36px;
  margin: 15px;
}
.catalog-product-title {
  margin-right: 159px;
}
.catalog-product-title-content {
  margin-right: 184px;
}
.catalog-product-title-content-go {
  margin-right: 139px;
}
.catalog-product-title-content-go-site {
  margin-right: 91px;
}
.catalog-product-title-go {
  font-size: 22px;
  display: flex;
  align-items: center;
}
.catalog-cards {
  width: 894px;
  height: 734px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.catalog-cards-primer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-left: 20px;
}
.catalog-card {
  width: 278px;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
}
.catalog-card-img {
  width: 128px;
  height: 186px;
}
.catalog-card-img-size {
  width: 278px;
  height: 229px;
  background: #F7F7F7;
  border-radius: 5px 5px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.catalog-card-content {
  min-height: 127px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}
.catalog-card-content-title {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
}
.catalog-popularity {
  display: flex;
  gap: 83px;
}
.catalog-popularity-stars {
  width: 92px;
  height: 16px;
  margin-top: 24px;
}
.catalog-popularity-price {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #4200FF;
  margin-top: 20px;
}
.catalog-navigation {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-top: 40px;
}
.catalog-navigation-text {
  color: white;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
}
.catalog-navigation-text-one {
  color: #4200FF;
  font-weight: bold;
}
.catalog-navigation-text-end {
  color: #C4CDD5;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
}
.catalog-navigation-background {
  background-color: #919EAB;
  border-color: #919EAB;
}
.catalog-navigation-background-end {
  border: 1px solid #DFE3E8;
}
.catalog-navigation-background-black {
  border: 1px solid #DFE3E8;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
}
.catalog-navigation-background-one {
  border: 1px solid #4200FF;
}
.catalog-navigation-content {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.catalog-navigation-content-title {
  background: #919EAB;
  opacity: 0.5;
  border-radius: 4px;
}

.service {
  width: 1280px;
  height: 140px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  margin-bottom: 81px;
  display: flex;
}
.service-flex {
  display: flex;
  gap: 22px;
}
.service-border {
  width: 412px;
  height: 140px;
  border: 1.5px solid #F2F2F2;
  border-radius: 5px;
  display: flex;
}
.service-img {
  width: 126px;
  height: 63px;
  display: flex;
  justify-content: center;
}
.service-img-background {
  width: 160px;
  height: 138px;
  background: #F9F9F9;
  border-radius: 4px 0px 0px 4px;
  margin-right: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.service-content {
  padding-top: 36px;
}
.service-content-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 10px;
}
.service-content-subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.6);
  margin-right: 30px;
}
.service-24 {
  font-size: 36px;
  line-height: 47px;
}

.reklama {
  width: 1280px;
  height: 358px;
  background: #F7F7F7;
  border-radius: 5px;
  margin: auto;
  display: flex;
}
.reklama-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  padding-left: 40px;
}
.reklama-content-title {
  width: 530px;
  margin-right: 20px;
  font-weight: 700;
  font-size: 37px;
  line-height: 47px;
}
.reklama-btn {
  width: 210px;
  height: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 5px;
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
}
.reklama-car {
  width: 712px;
  height: 358px;
  border-radius: 5px;
  display: flex;
  justify-content: flex-end;
}
.reklama-instrument {
  margin: auto;
  width: 1280px;
  padding-top: 80px;
  display: flex;
  justify-content: space-between;
}
.reklama-instrument-content {
  font-weight: 500;
  font-size: 32px;
  line-height: 42px;
}
.reklama-instrument-content-go {
  display: flex;
  gap: 16px;
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
  color: rgba(0, 0, 0, 0.9);
}
.reklama-cards {
  width: 1280px;
  margin: auto;
  display: flex;
  gap: 20px;
  padding-top: 32px;
}
.reklama-card {
  width: 304px;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.reklama-card-img {
  width: 165px;
  height: 190px;
}
.reklama-card-img-background {
  width: 304px;
  height: 229px;
  background: #F7F7F7;
  border-radius: 5px 5px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reklama-card-content {
  min-height: 127px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}
.reklama-card-content-title {
  font-size: 17px;
  line-height: 22px;
  font-weight: 500;
}
.reklama-popularity {
  display: flex;
  gap: 83px;
}
.reklama-popularity-stars {
  width: 92px;
  height: 16px;
  margin-top: 24px;
}
.reklama-popularity-price {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #4200FF;
  margin-top: 20px;
}

.brand {
  width: 1280px;
  padding-top: 80px;
  margin: auto;
}
.brand-content {
  font-weight: 500;
  font-size: 32px;
  line-height: 42px;
}
.brand-content-cards {
  width: 1280px;
  display: flex;
  flex-wrap: wrap;
  gap: 17px;
  padding-top: 30px;
  padding-bottom: 120px;
}
.brand-content-card {
  width: 305px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F7F7F7;
  border-radius: 5px;
}
.brand-content-car {
  display: flex;
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
  margin-left: 30px;
}
.brand-content-car-chevrolet {
  display: flex;
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
  margin-left: 10px;
  padding-bottom: 5px;
}
.brand-content-car-end-chevrolet {
  padding-top: 40px;
}
.brand-mark {
  width: 103px;
  height: 120px;
}

.black {
  width: 1440px;
  height: 311px;
  background: #2F2F2F;
  display: flex;
  justify-content: center;
}
.black-content {
  display: flex;
}
.black-content-title {
  width: 147px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  margin-right: 115px;
  padding-top: 30px;
}
.black-logo {
  width: 106px;
  height: 47px;
}
.black-phone {
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: white;
}
.black-block {
  margin-right: 80px;
}
.black-block-two {
  width: 250px;
  margin-right: 216px;
}
.black-paragraph {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #FFFFFF;
  padding-top: 43px;
  margin-bottom: 20px;
}
.black-paragraph-content {
  font-weight: 700;
  font-size: 20px;
  line-height: 200%;
  color: #FFFFFF;
  width: 216px;
  height: 120px;
}
.black-paragraph-content-two {
  font-weight: 700;
  font-size: 20px;
  line-height: 200%;
  color: #FFFFFF;
  height: 120px;
}
.black-socseti {
  width: 30px;
  height: 30px;
}
.black-socseti-flex {
  display: flex;
  justify-content: flex-end;
  gap: 26px;
}

.bmw-description-column-content, .bmw-description-column {
  width: 120px;
  font-weight: 400;
  font-size: 22px;
  line-height: 29px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.bmw-mini-btn-plus, .bmw-mini-btn-minus {
  font-weight: 400;
  font-size: 26px;
  line-height: 34px;
  border: 0;
  cursor: pointer;
}

.bmw {
  width: 1280px;
  margin: auto;
  padding-top: 10px;
}
.bmw-flex {
  display: flex;
}
.bmw-background {
  width: 600px;
  height: 460px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F7F7F7;
  border-radius: 5px;
  margin-right: 50px;
  margin-bottom: 15px;
}
.bmw-steering {
  width: 333px;
  height: 339px;
}
.bmw-content {
  display: flex;
  flex-direction: column;
}
.bmw-content-title {
  width: 612px;
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
  letter-spacing: -0.005em;
  padding-top: 25px;
  margin-bottom: 15px;
}
.bmw-content-subtitle {
  font-weight: 400;
  font-size: 22px;
  line-height: 29px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  margin-bottom: 29px;
}
.bmw-popularity {
  display: flex;
  gap: 5px;
  margin-bottom: 30px;
}
.bmw-popularity-stars {
  width: 110px;
  height: 18px;
}
.bmw-popularity-5 {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}
.bmw-popularity-5-go {
  font-weight: bold;
  font-size: 18px;
  margin-right: 25px;
}
.bmw-description {
  display: flex;
  width: 240px;
  margin-bottom: 55px;
}
.bmw-description-column {
  color: rgba(0, 0, 0, 0.7);
}
.bmw-description-column-content {
  color: black;
}
.bmw-price {
  font-weight: bold;
  font-size: 32px;
  line-height: 42px;
}
.bmw-mini {
  width: 580px;
  height: 90px;
  display: flex;
  padding-left: 10px;
  margin-bottom: 60px;
}
.bmw-mini-shopping {
  display: flex;
  gap: 20px;
  margin-left: 65px;
}
.bmw-mini-shopping-content {
  width: 203px;
  height: 53px;
  border: 2px solid #4200FF;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 13px;
  margin-top: 38px;
}
.bmw-mini-shopping-content:hover {
  background-color: #4200FF;
  color: white;
}
.bmw-mini-shopping-content a:hover {
  background-color: #4200FF;
  color: white;
}
.bmw-mini-shopping-img {
  width: 18px;
  height: 21px;
}
.bmw-mini-shopping-paragraph {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: rgba(0, 0, 0, 0.8);
}
.bmw-mini-content {
  display: flex;
  gap: 20px;
}
.bmw-mini-background {
  width: 100px;
  height: 90px;
  background: #F2F3F5;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bmw-mini-img {
  width: 65px;
  height: 64px;
}
.bmw-mini-btn {
  font-weight: 400;
  font-size: 26px;
  line-height: 34px;
  display: flex;
  gap: 20px;
}
.bmw-mini-btn-background {
  width: 118px;
  height: 53px;
  background: #F2F3F5;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 20px;
  margin-top: 39px;
}
.bmw-mini-btn-plus {
  padding-top: 5px;
}
.bmw-mini-btn-two {
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  padding-top: 5px;
}

.characteristics-paragraph-two, .characteristics-paragraph {
  width: 921px;
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
  color: rgba(0, 0, 0, 0.8);
  padding-left: 60px;
}

.characteristics {
  width: 1280px;
  height: 466px;
  margin: auto;
  background: #F9F9F9;
  margin-bottom: 82px;
}
.characteristics-menu {
  display: flex;
  gap: 60px;
  padding-left: 60px;
  padding-top: 40px;
  margin-bottom: 6px;
}
.characteristics-menu-content {
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
}
.characteristics-hr {
  padding-left: 60px;
  margin-bottom: 30px;
}
.characteristics-line {
  width: 656px;
  height: 4px;
  background: rgba(196, 196, 196, 0.7);
  border-radius: 4px;
  position: relative;
}
.characteristics-line::after {
  content: "";
  border: 4px solid #4200FF;
  position: absolute;
  width: 11%;
  top: -2px;
}
.characteristics-paragraph {
  margin-bottom: 50px;
}/*# sourceMappingURL=style.css.map */