* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "DMSans";
  src: url(./fonts/DMSans-regular.ttf);
}
.wrapper {
  width: 1440px;
  height: 3872px;
  font-family: "DMSans";
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  width: 1440px;
  height: 90px;
}
.header-logo {
  width: 93px;
  height: 47px;
  margin-right: 80px;
}
.header-menu {
  display: flex;
  gap: 32px;
  font-weight: 500;
  margin-right: 235px;
  font-size: 22px;
  line-height: 29px;
}
.header-phone {
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  margin-right: 55px;
}
.header-vector {
  display: flex;
  gap: 20px;
}

.ractangle {
  width: 1281px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #F5F5F5;
  border-radius: 10px;
  background-image: url(img/wheels.png);
  background-repeat: no-repeat;
  background-position: 550px 95px;
}
.ractangle-content {
  padding-top: 141px;
  padding-left: 62px;
  position: absolute;
  z-index: 1;
}
.ractangle-content-title {
  font-weight: 700;
  font-size: 41px;
  line-height: 53px;
  width: 627px;
  margin-bottom: 10px;
}
.ractangle-content-subtitle {
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
  margin-bottom: 30px;
}
.ractangle-input {
  width: 514px;
  height: 62px;
  border: 2px solid rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  font-size: 18px;
  line-height: 23px;
  padding-left: 17px;
  padding-right: 80px;
  position: absolute;
}
.ractangle-btn {
  width: 75px;
  height: 61px;
  background: rgba(66, 0, 255, 0.8);
  border-radius: 8px;
  border-color: rgba(66, 0, 255, 0.8);
  font-size: 20px;
  z-index: 1;
  position: relative;
  margin-left: 438px;
}
.ractangle-shadow {
  width: 1281px;
  height: 102px;
}
.ractangle-shadow-img {
  width: 583px;
  height: 105px;
  padding-left: 630px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.cards {
  width: 100%;
  height: 260px;
  display: flex;
  justify-content: center;
  padding-top: 40px;
  margin-bottom: 80px;
}
.cards-flex {
  display: flex;
  gap: 40px;
}
.cards-img {
  width: 142px;
  height: 140px;
  float: left;
  background: #F9F9F9;
  margin-right: 15px;
}
.cards-box {
  width: 400px;
  height: 140px;
  background: #FFFFFF;
  border: 1.5px solid #F2F2F2;
  border-radius: 5px;
}
.cards-box-content {
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  margin-top: 36px;
  margin-bottom: 10px;
  font-family: "DM Sans";
}
.cards-box-content-title {
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.6);
  margin-right: 33px;
  font-family: "DM Sans";
  font-weight: 500;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.catalog-product-title-content-go-site, .catalog-product-title-content-go, .catalog-product-title-content, .catalog-product-title {
  font-weight: 500;
  font-size: 22px;
  line-height: 20px;
  display: flex;
  align-items: center;
}

.catalog {
  width: 1274px;
  height: 804px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}
.catalog-menu {
  width: 380px;
  height: 732px;
  background: #F7F7F7;
  border-radius: 5px;
}
.catalog-choise-menu {
  width: 358px;
  height: 76px;
  display: flex;
  padding-top: 10px;
  padding-left: 11px;
  border-radius: 5px;
}
.catalog-choise-menu:hover {
  background-color: #4200FF;
  color: white;
}
.catalog-product {
  width: 36px;
  height: 36px;
  margin: 15px;
}
.catalog-product-title {
  margin-right: 159px;
}
.catalog-product-title-content {
  margin-right: 184px;
}
.catalog-product-title-content-go {
  margin-right: 139px;
}
.catalog-product-title-content-go-site {
  margin-right: 91px;
}
.catalog-product-title-go {
  font-size: 22px;
  display: flex;
  align-items: center;
}
.catalog-width {
  width: 894px;
  height: 734px;
}
.catalog-cards {
  width: 894px;
  height: 734px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.catalog-card {
  width: 278px;
  height: 356px;
}
.catalog-card-img {
  width: 128px;
  height: 186px;
}
.catalog-card-img-size {
  width: 278px;
  height: 229px;
  background: #F7F7F7;
  border-radius: 5px 5px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.catalog-card-content {
  width: 222px;
  margin: 20px 20px;
}
.catalog-card-content-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
}
.catalog-popularity {
  display: flex;
  gap: 83px;
}
.catalog-popularity-stars {
  width: 92px;
  height: 16px;
  margin-top: 24px;
}
.catalog-popularity-price {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #4200FF;
  margin-top: 20px;
}/*# sourceMappingURL=style.css.map */