.black {
    width: 1440px;
    height: 311px;
    background: #2F2F2F;
    display: flex;
    justify-content: center;

    &-content {
        display: flex;

        &-title {
            width: 147px;
            display: flex;
            gap: 10px;
            flex-direction: column;
            margin-right: 115px;
            padding-top: 30px;
        }
    }

    &-logo {
        width: 106px;
        height: 47px;
    }

    &-phone {
        font-weight: 500;
        font-size: 16px;
        line-height: 21px;
        color: white;
    }

    &-block {
        margin-right: 80px;

        &-two {
            width: 250px;
            margin-right: 216px;
        }
    }

    &-paragraph {
        font-weight: 700;
        font-size: 24px;
        line-height: 31px;
        color: #FFFFFF;
        padding-top: 43px;
        margin-bottom: 20px;

        &-content {
            font-weight: 700;
            font-size: 20px;
            line-height: 200%;
            color: #FFFFFF;
            width: 216px;
            height: 120px;

            &-two {
                font-weight: 700;
                font-size: 20px;
                line-height: 200%;
                color: #FFFFFF;
                height: 120px;
            }
        }
    }

    &-socseti {
        width: 30px;
        height: 30px;
        
        &-flex {
            display: flex;
            justify-content: flex-end;
            gap: 26px;
        }
    }
}