.brand {
    width: 1280px;
    padding-top: 80px;
    margin: auto;

    &-content {
        font-weight: 500;
        font-size: 32px;
        line-height: 42px;

        &-cards {
            width: 1280px;
            display: flex;
            flex-wrap:wrap;
            gap: 17px;
            padding-top: 30px;
            padding-bottom: 120px;
        }

        &-card {
            width: 305px;
            height: 180px;
            display: flex;
            justify-content: center;
            align-items: center;    
            background: #F7F7F7;
            border-radius: 5px;
        }

        &-car {
            display: flex;
            font-weight: 700;
            font-size: 32px;
            line-height: 42px;
            margin-left: 30px;

            &-chevrolet {
                display: flex;
                font-weight: 700;
                font-size: 32px;
                line-height: 42px;
                margin-left: 10px;
                padding-bottom: 5px;
            }

            &-end {

                &-chevrolet {
                    padding-top: 40px;
                }
            }
        }
    }

    &-mark {
        width: 103px;
        height: 120px;
    }

}