* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

%flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    width: 1440px;
    height: 90px;

    @extend %flex;

    &-logo {
        width: 93px;
        height: 47px;
        margin-right: 80px;
    }

    &-menu {
        display: flex;
        gap: 32px;
        font-weight: 500;
        margin-right: 235px;
        font-size: 22px;
        line-height: 29px;
    }

    &-phone {
        font-weight: 500;
        font-size: 18px;
        line-height: 23px;
        margin-right: 55px;
    }

    &-vector {
        display: flex;
        gap: 20px;
    }
}