.service {
    width: 1280px;
    height: 140px;
    margin-left: auto;
    margin-right: auto;
    margin-top:  150px;
    margin-bottom: 81px;
    display: flex;

    &-flex {
        display: flex;
        gap: 22px;
    }

    &-border {
        width: 412px;
        height: 140px;
        border: 1.5px solid #F2F2F2;
        border-radius: 5px;
        display: flex;
    }

    &-img {
        width: 126px;
        height: 63px;
        display: flex;
        justify-content: center;

        &-background {
            width: 160px;
            height: 138px;
            background: #F9F9F9;
            border-radius: 4px 0px 0px 4px;
            margin-right: 14px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &-content {
        padding-top: 36px;

        &-title {
            font-weight: 500;
            font-size: 18px;
            line-height: 23px;
            margin-bottom: 10px;
        }

        &-subtitle {
            font-weight: 500;
            font-size: 14px;
            line-height: 18px;
            color: rgba(0, 0, 0, 0.6);
            margin-right: 30px;
        }
    }

    &-24 {
        font-size: 36px;
        line-height: 47px;
    }
}